body {
  margin: 0 15% 0 15%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.beer-pic {
  width: auto;
  height: 350px;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div#filterSearch {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
}

div.arrayModifier {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px
}

div.cardHeader {
  font-family: 'Bebas Neue', cursive;
  font-size: 28px;
  color: #F7c331
}

.cardLink {
  font-family: 'Crimson Text', serif, bold;
  font-size: 15px;
}

.description {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
}

#search {
  display: flex;
  flex-direction: row;
}

#filter {
  display: flex;
  flex-direction: row;
}

.form {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-content: center;
}

.input {
  margin: .5em;
  font-family: 'Crimson Text', serif;
}

.label {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 180px;
  width: auto;
  margin: auto;
  background-position: center;
  background-size: contain;
}

.ui.card>.image, .ui.cards>.card>.image {
  background: white;
}

.ui.card>.content, .ui.cards>.card>.content {
  background-color: #eeeeee
  ;
}

.ui.card .meta>a:not(.ui), .ui.cards>.card .meta>a:not(.ui) {
  color: #1D2731
}
.ui.card>.extra, .ui.cards>.card>.extra {
  background-color: white;
}

p.modaltext {
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  margin: 0 0 12px;
}

a.modallink {
  font-family: 'Bebas Neue';
  font-size: 35px;
  margin: 0 0 12px
}

div.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

h2.modalheader {
  text-align: center;
}

.ui.modal {
  width: 740px;
}